.en-flex,
.en-flex-row,
.en-flex-column,
.en-flex-row-reverse,
.en-flex-column-reverse {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
}

.en-flex,
.en-flex-row {
  flex-direction: row;
}

.en-flex-row-reverse {
  flex-direction: row-reverse;
}

.en-flex-column {
  flex-direction: column;
}

.en-flex-column-reverse {
  flex-direction: column-reverse;
}

.en-flex-wrap {
  flex-wrap: wrap;
}

.en-flex-nowrap {
  flex-wrap: nowrap;
}

.en-flex-warp-reverse {
  flex-wrap: wrap-reverse;
}