@use './vars-color.scss' as *;

/* 盒模型 规则 */
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

/* 移除默认的 margin 外边距 */
html,
body,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* 设置根元素 html 默认样式 */
html {
  scroll-behavior: smooth;
}

/* 设置默认的 body 元素的样式 */
body {
  font-family: var(--en-font-body);
  font-size: var(--en-base-font-size);
  line-height: var(--en-font-content-line-height);
  text-rendering: optimizeSpeed; // 文本渲染，是快速还是清晰
  scroll-behavior: smooth;
}

/*  链接元素没有 class 类时的展示 */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* 设置图片样式 */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Fix Inter font bug: 'em' not slanted in Safari. See issue: https://github.com/mdn/yari/issues/7203 */
em {
  font-variation-settings: 'slnt'-10;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 自动填充的密码的背景色设置动画已取消背景色  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 99999s;
  transition:
    color 99999s ease-out,
    background-color 99999s ease-out;
  -webkit-transition-delay: 99999s;
  -webkit-transition:
    color 99999s ease-out,
    background-color 99999s ease-out;
  -webkit-text-fill-color: var(--en-text-primary);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
