.en-h1,
h1.en-h1,
.en-style h1 {
  font-size: 2.8rem;
  line-height: 3rem;
  margin-block: 0.87rem;
  font-weight: 800;
  text-align: center;
}

.en-h2,
h2.en-h2,
.en-style h2 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  margin-block: 0.94rem;
  font-weight: 700;
}

.en-h3,
h3.en-h3,
.en-style h3 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-block: 1rem;
  font-weight: 600;
}

.en-h4,
h4.en-h4,
.en-style h4 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-block: 1.02rem;
  font-weight: 600;
}

.en-h5,
h5.en-h5,
.en-style h5 {
  font-size: 0.94rem;
  line-height: 1.14rem;
  margin-block: 1.42rem;
  font-weight: 600;
}

.en-h6,
h6.en-h6,
.en-style h6 {
  font-size: 0.84rem;
  line-height: 1.04rem;
  margin-block: 2.12rem;
  font-weight: 600;
}