@use "./vars-color.scss"as *;
@use "./respond"as rp;
@use "./root.scss";
@use "./loading-keyframes.scss";
@use "./flex.scss";
@use "./header.scss";
@use "./image.scss";
@use "./text.scss";
@use './input.scss';

.en-full-container {
  width: 100%;
  height: 100%;
}

@for $i from 1 through 10 {
  $v: #{calc($i * 10)};

  .en-box-shadow-light-red-#{$v} {
    box-shadow: 0 1px 2px rgb(var(--en-color-red-#{$v}-rgb));
  }
}

@for $i from 1 through 10 {
  $v: #{calc($i * 4)};

  // 水平方向的 padding
  .en-padding-horizontal-#{$v} {
    padding-left: #{$v}px;
    padding-right: #{$v}px;
  }

  // 垂直方向的 padding
  .en-padding-vertical-#{$v} {
    padding-top: #{$v}px;
    padding-bottom: #{$v}px;
  }

  // 全方向的 padding 值
  .en-padding-#{$v} {
    padding: #{$v}px;
  }

  // 水平方向的 margin
  .en-margin-horizontal-#{$v} {
    margin-left: #{$v}px;
    margin-right: #{$v}px;
  }

  // 垂直方向的 margin
  .en-margin-vertical-#{$v} {
    margin-top: #{$v}px;
    margin-bottom: #{$v}px;
  }

  // 全方向的 margin 值
  .en-margin-#{$v} {
    margin: #{$v}px;
  }

  // 圆角
  .en-border-radius-#{$v},
  .en-radius-#{$v} {
    border-radius: #{$v}px;
  }
}

.en-inline-block {
  display: inline-block;
}

.en-relative {
  position: relative;
}


.en-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.en-dust {
  color: var(---en-text-dust);
}


.en-red-bg {
  background-color: var(--en-color-red-70);
}

.en-float-left {
  float: left;
}

.en-float-right,
.en-float {
  float: right;
}

.en-clear-float,
.en-clear {
  clear: both;
}

.en-loading {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image:
    radial-gradient(#f00, #f00 50%, transparent 50%, transparent),
    radial-gradient(#af1, #af1 50%, transparent 50%, transparent),
    radial-gradient(#0ff, #0ff 50%, transparent 50%, transparent),
    radial-gradient(#f0f, #f0f 50%, transparent 50%, transparent);
  background-repeat: no-repeat;
  animation: 2.4s ease-in-out 0s infinite loading;
}

// 用户可操作
.en-user-select-text {
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.en-cursor-pointer {
  cursor: pointer;
}