@keyframes loading {
  //  45 - 25 * Math.sin((Math.PI * 5) / 12)
  //  位置公式 35 - 25 * Math.cos((Math.PI * 5) / 12)

  100%,
  0% {
    background-size: 2.5% 2.5%;
    background-position: 25% 45%;
  }

  3.258% {
    background-size:
      3.75% 3.75%,
      2.5% 2.5%,
      2.5% 2.5%,
      2.5% 2.5%;
    background-position:
      // 位置 1
      25.85% 38.53%,
      25% 45%,
      25% 45%,
      25% 45%;
  }

  6.516% {
    background-size:
      5% 5%,
      2.5% 2.5%,
      2.5% 2.5%,
      2.5% 2.5%;
    background-position:
      // 位置 2
      28.35% 32.5%,
      25% 45%,
      25% 45%,
      25% 45%;
  }

  9.774% {
    background-size:
      6.25% 6.25%,
      2.5% 2.5%,
      2.5% 2.5%,
      2.5% 2.5%;
    background-position:
      // 位置 3
      32.32% 27.32%,
      25% 45%,
      25% 45%,
      25% 45%;
  }

  13.032% {
    background-size:
      7.5% 7.5%,
      3.75% 3.75%,
      2.5% 2.5%,
      2.5% 2.5%;
    background-position:
      // 位置 4
      37.5% 23.35%,
      // 位置 1
      25.85% 38.53%,
      25% 45%,
      25% 45%;
  }

  16.29% {
    background-size:
      8.75% 8.75%,
      5% 5%,
      2.5% 2.5%,
      2.5% 2.5%;
    background-position:
      // 位置 5
      43.53% 20.85%,
      // 位置 2
      28.35% 32.5%,
      25% 45%,
      25% 45%;
  }

  19.548% {
    background-size:
      10% 10%,
      6.25% 6.25%,
      3.75% 3.75%,
      2.5% 2.5%;
    background-position:
      // 位置 6
      50% 20%,
      // 位置 3
      32.32% 27.32%,
      // 位置 1
      25.85% 38.53%,
      25% 45%;
  }

  22.806% {
    background-size:
      10% 10%,
      7.5% 7.5%,
      5% 5%,
      2.5% 2.5%;
    background-position:
      // 位置 7
      56.47% 20.85%,
      // 位置 4
      37.32% 23.35%,
      // 位置 2
      28.35% 32.5%,
      // 位置 1
      25.85% 38.53%;
  }

  $Pi: 3.1415926;

  @for $i from 18 through 33 {
    #{calc((($i  - 10 )/ 31  ) * 100%)} {
      background-position:
        #{(50 - (25 * cos(($Pi * ($i - 10)) / 12))) *
          1%}
          #{(45 - 25 * sin(($Pi * ($i - 10)) / 12)) *
          1%},
        #{(50 - (25 * cos(($Pi * ($i - 13)) / 12))) *
          1%}
          #{(45 - 25 * sin(($Pi * ($i - 13)) / 12)) *
          1%},
        #{(50 - (25 * cos(($Pi * ($i - 15)) / 12))) *
          1%}
          #{(45 - 25 * sin(($Pi * ($i - 15)) / 12)) *
          1%},
        #{(50 - (25 * cos(($Pi * ($i - 17)) / 12))) *
          1%}
          #{(45 - 25 * sin(($Pi * ($i - 17)) / 12)) *
          1%};
    }
  }

  78.192% {
    background-size:
      10% 10%,
      7.5% 7.5%,
      5% 5%,
      2.5% 2.5%;
    background-position:
      // 位置 0
      25% 45%,
      // 位置  22
      28.35% 57.45%,
      // 位置 20
      37.45% 66.65%,
      // 位置 18
      48% 70%;
  }

  81.45% {
    background-size:
      8.75% 8.75%,
      7.5% 7.5%,
      5% 5%,
      2.5% 2.5%;
    background-position:
      // 位置 0
      25% 45%,
      // 位置  23
      25.85% 51.47%,
      // 位置 21
      32.32% 62.68%,
      // 位置 19
      43.53% 69.15%;
  }

  84.708% {
    background-size:
      7.5% 7.5%,
      7.5% 7.5%,
      5% 5%,
      2.5% 2.5%;
    background-position:
      // 位置 0
      25% 45%,
      // 位置 0
      25% 45%,
      // 位置  22
      28.35% 57.45%,
      // 位置 20
      37.45% 66.65%;
  }

  87.966% {
    background-size:
      6.25% 6.25%,
      6.25% 6.25%,
      5% 5%,
      2.5% 2.5%;
    background-position:
      // 位置 0
      25% 45%,
      // 位置 0
      25% 45%,
      // 位置  23
      25.85% 51.47%,
      // 位置 21
      32.32% 62.68%;
  }

  91.224% {
    background-size:
      5% 5%,
      5% 5%,
      5% 5%,
      2.5% 2.5%;
    background-position:
      // 位置 0
      25% 45%,
      // 位置 0
      25% 45%,
      // 位置 0
      25% 45%,
      // 位置  22
      28.35% 57.45%;
  }

  97.482% {
    background-size:
      3.75% 3.75%,
      3.75% 3.75%,
      3.75% 3.75%,
      2.5% 2.5%;
    background-position:
      // 位置 0
      25% 45%,
      // 位置 0
      25% 45%,
      // 位置 0
      25% 45%,
      // 位置  23
      25.85% 51.47%;
  }
}
