@use "./vars-color.scss" as color;

@mixin light {
  // 基色
  --en-color-blue-10: #{color.$en-color-light-blue-10};
  --en-color-blue-10-rgb: #{color.$en-color-light-blue-10-rgb};
  --en-color-blue-20: #{color.$en-color-light-blue-20};
  --en-color-blue-20-rgb: #{color.$en-color-light-blue-20-rgb};
  --en-color-blue-30: #{color.$en-color-light-blue-30};
  --en-color-blue-30-rgb: #{color.$en-color-light-blue-30-rgb};
  --en-color-blue-40: #{color.$en-color-light-blue-40};
  --en-color-blue-40-rgb: #{color.$en-color-light-blue-40-rgb};
  --en-color-blue-50: #{color.$en-color-light-blue-50};
  --en-color-blue-50-rgb: #{color.$en-color-light-blue-50-rgb};
  --en-color-blue-60: #{color.$en-color-light-blue-60};
  --en-color-blue-60-rgb: #{color.$en-color-light-blue-60-rgb};
  --en-color-blue-70: #{color.$en-color-light-blue-70};
  --en-color-blue-70-rgb: #{color.$en-color-light-blue-70-rgb};
  --en-color-blue-80: #{color.$en-color-light-blue-80};
  --en-color-blue-80-rgb: #{color.$en-color-light-blue-80-rgb};
  --en-color-blue-90: #{color.$en-color-light-blue-90};
  --en-color-blue-90-rgb: #{color.$en-color-light-blue-90-rgb};
  --en-color-green-10: #{color.$en-color-light-green-10};
  --en-color-green-10-rgb: #{color.$en-color-light-green-10-rgb};
  --en-color-green-20: #{color.$en-color-light-green-20};
  --en-color-green-20-rgb: #{color.$en-color-light-green-20-rgb};
  --en-color-green-30: #{color.$en-color-light-green-30};
  --en-color-green-30-rgb: #{color.$en-color-light-green-30-rgb};
  --en-color-green-40: #{color.$en-color-light-green-40};
  --en-color-green-40-rgb: #{color.$en-color-light-green-40-rgb};
  --en-color-green-50: #{color.$en-color-light-green-50};
  --en-color-green-50-rgb: #{color.$en-color-light-green-50-rgb};
  --en-color-green-60: #{color.$en-color-light-green-60};
  --en-color-green-60-rgb: #{color.$en-color-light-green-60-rgb};
  --en-color-green-70: #{color.$en-color-light-green-70};
  --en-color-green-70-rgb: #{color.$en-color-light-green-70-rgb};
  --en-color-green-80: #{color.$en-color-light-green-80};
  --en-color-green-80-rgb: #{color.$en-color-light-green-80-rgb};
  --en-color-green-90: #{color.$en-color-light-green-90};
  --en-color-green-90-rgb: #{color.$en-color-light-green-90-rgb};
  --en-color-yellow-10: #{color.$en-color-light-yellow-10};
  --en-color-yellow-10-rgb: #{color.$en-color-light-yellow-10-rgb};
  --en-color-yellow-20: #{color.$en-color-light-yellow-20};
  --en-color-yellow-20-rgb: #{color.$en-color-light-yellow-20-rgb};
  --en-color-yellow-30: #{color.$en-color-light-yellow-30};
  --en-color-yellow-30-rgb: #{color.$en-color-light-yellow-30-rgb};
  --en-color-yellow-40: #{color.$en-color-light-yellow-40};
  --en-color-yellow-40-rgb: #{color.$en-color-light-yellow-40-rgb};
  --en-color-yellow-50: #{color.$en-color-light-yellow-50};
  --en-color-yellow-50-rgb: #{color.$en-color-light-yellow-50-rgb};
  --en-color-yellow-60: #{color.$en-color-light-yellow-60};
  --en-color-yellow-60-rgb: #{color.$en-color-light-yellow-60-rgb};
  --en-color-yellow-70: #{color.$en-color-light-yellow-70};
  --en-color-yellow-70-rgb: #{color.$en-color-light-yellow-70-rgb};
  --en-color-yellow-80: #{color.$en-color-light-yellow-80};
  --en-color-yellow-80-rgb: #{color.$en-color-light-yellow-80-rgb};
  --en-color-yellow-90: #{color.$en-color-light-yellow-90};
  --en-color-yellow-90-rgb: #{color.$en-color-light-yellow-90-rgb};
  --en-color-red-10: #{color.$en-color-light-red-10};
  --en-color-red-10-rgb: #{color.$en-color-light-red-10-rgb};
  --en-color-red-20: #{color.$en-color-light-red-20};
  --en-color-red-20-rgb: #{color.$en-color-light-red-20-rgb};
  --en-color-red-30: #{color.$en-color-light-red-30};
  --en-color-red-30-rgb: #{color.$en-color-light-red-30-rgb};
  --en-color-red-40: #{color.$en-color-light-red-40};
  --en-color-red-40-rgb: #{color.$en-color-light-red-40-rgb};
  --en-color-red-50: #{color.$en-color-light-red-50};
  --en-color-red-50-rgb: #{color.$en-color-light-red-50-rgb};
  --en-color-red-60: #{color.$en-color-light-red-60};
  --en-color-red-60-rgb: #{color.$en-color-light-red-60-rgb};
  --en-color-red-70: #{color.$en-color-light-red-70};
  --en-color-red-70-rgb: #{color.$en-color-light-red-70-rgb};
  --en-color-red-80: #{color.$en-color-light-red-80};
  --en-color-red-80-rgb: #{color.$en-color-light-red-80-rgb};
  --en-color-red-90: #{color.$en-color-light-red-90};
  --en-color-red-90-rgb: #{color.$en-color-light-red-90-rgb};
  --en-color-violet-10: #{color.$en-color-light-violet-10};
  --en-color-violet-10-rgb: #{color.$en-color-light-violet-10-rgb};
  --en-color-violet-20: #{color.$en-color-light-violet-20};
  --en-color-violet-20-rgb: #{color.$en-color-light-violet-20-rgb};
  --en-color-violet-30: #{color.$en-color-light-violet-30};
  --en-color-violet-30-rgb: #{color.$en-color-light-violet-30-rgb};
  --en-color-violet-40: #{color.$en-color-light-violet-40};
  --en-color-violet-40-rgb: #{color.$en-color-light-violet-40-rgb};
  --en-color-violet-50: #{color.$en-color-light-violet-50};
  --en-color-violet-50-rgb: #{color.$en-color-light-violet-50-rgb};
  --en-color-violet-60: #{color.$en-color-light-violet-60};
  --en-color-violet-60-rgb: #{color.$en-color-light-violet-60-rgb};
  --en-color-violet-70: #{color.$en-color-light-violet-70};
  --en-color-violet-70-rgb: #{color.$en-color-light-violet-70-rgb};
  --en-color-violet-80: #{color.$en-color-light-violet-80};
  --en-color-violet-80-rgb: #{color.$en-color-light-violet-80-rgb};
  --en-color-violet-90: #{color.$en-color-light-violet-90};
  --en-color-violet-90-rgb: #{color.$en-color-light-violet-90-rgb};
  --en-color-pink-10: #{color.$en-color-light-pink-10};
  --en-color-pink-10-rgb: #{color.$en-color-light-pink-10-rgb};
  --en-color-pink-20: #{color.$en-color-light-pink-20};
  --en-color-pink-20-rgb: #{color.$en-color-light-pink-20-rgb};
  --en-color-pink-30: #{color.$en-color-light-pink-30};
  --en-color-pink-30-rgb: #{color.$en-color-light-pink-30-rgb};
  --en-color-pink-40: #{color.$en-color-light-pink-40};
  --en-color-pink-40-rgb: #{color.$en-color-light-pink-40-rgb};
  --en-color-pink-50: #{color.$en-color-light-pink-50};
  --en-color-pink-50-rgb: #{color.$en-color-light-pink-50-rgb};
  --en-color-pink-60: #{color.$en-color-light-pink-60};
  --en-color-pink-60-rgb: #{color.$en-color-light-pink-60-rgb};
  --en-color-pink-70: #{color.$en-color-light-pink-70};
  --en-color-pink-70-rgb: #{color.$en-color-light-pink-70-rgb};
  --en-color-pink-80: #{color.$en-color-light-pink-80};
  --en-color-pink-80-rgb: #{color.$en-color-light-pink-80-rgb};
  --en-color-pink-90: #{color.$en-color-light-pink-90};
  --en-color-pink-90-rgb: #{color.$en-color-light-pink-90-rgb};
  // 文本色
  --en-text-primary: var(--en-color-brightness-85);
  --en-text-secondary: var(--en-color-brightness-70);
  --en-text-active: var(--en-color-brightness-50);
  --en-text-inactive: rgba(var(--en-color-bright-40-rgb), 0.76);
  --en-text-link: var(--en-color-blue-70);
  --en-text-invert: var(--en-color-white); // 文本反转色
  --en-text-muted: var(--en-color-brightness-65); // 温和文本色
  // 背景色
  --en-background-primary: var(--en-color-brightness-10);
  --en-background-secondary: var(--en-color-brightness-15);
  --en-background-tertiary: var(--en-color-brightness-20);
  // 边框
  --en-border-primary: var(--en-color-brightness-10);
  --en-border-secondary: var(--en-color-brightness-15);
  // 成功盒子的提示框
  --en-border-success: var(--en-color-green-20);
  // 按钮
  --en-button-primary: var(--en-color-brightness-85);
  --en-button-primary-hover: var(--en-color-brightness-60);
  --en-button-primary-active: var(--en-color-brightness-40);
  --en-button-primary-inactive: var(--en-color-brightness-85);
  --en-button-secondary: var(--en-color-white);
  --en-button-secondary-hover: var(--en-color-brightness-20);
  --en-button-secondary-active: var(--en-color-brightness-20);
  --en-button-secondary-inactive: var(--en-color-brightness-15);
  --en-button-secondary-border-focus: var(--en-color-light-blue-50);
  // 红框按钮
  --en-button-secondary-border-red: var(--en-color-light-red-30);
  --en-button-secondary-border-red-focus: var(--en-color-light-red-10);
  --en-box-shadow-light: 0 1px 2px rgba(var(--en-color-brightness-80), 0.05);
  --en-box-shadow-dark: 0 1px 6px rgba(var(--en-color-brightness-80), 0.1);
  color-scheme: light;
  color: var(--en-text-primary, #3a3b3f);
  background-color: var(--en-background-primary, #f0f2e6);
}
