@use "./vars-color.scss" as color;
@use "./mixin-color-light.scss" as light;
@use "./mixin-color-dark.scss" as dark;

:root {
  --en-color-brightness-10: #{color.$en-color-brightness-10};
  --en-color-brightness-20: #{color.$en-color-brightness-20};
  --en-color-brightness-30: #{color.$en-color-brightness-30};
  --en-color-brightness-40: #{color.$en-color-brightness-40};
  --en-color-brightness-50: #{color.$en-color-brightness-50};
  --en-color-brightness-60: #{color.$en-color-brightness-60};
  --en-color-brightness-70: #{color.$en-color-brightness-70};
  --en-color-brightness-75: #{color.$en-color-brightness-75};
  --en-color-brightness-80: #{color.$en-color-brightness-80};
  --en-color-brightness-90: #{color.$en-color-brightness-90};
  --en-color-black: #{color.$en-color-black};
  --en-color-white: #{color.$en-color-white};
  --en-color-blue: #{color.$en-color-blue};
  --en-color-green: #{color.$en-color-green};
  --en-color-yellow: #{color.$en-color-yellow};
  --en-color-red: #{color.$en-color-red};
  --en-color-violet: #{color.$en-color-violet};
  --en-color-pink: #{color.$en-color-pink};
  --en-color-beige: #{color.$en-color-beige};
  --en-spacing-unit: 8px;
  --en-spacing-1: calc(var(--en-spacing-unit) * 0.5);
  --en-spacing-2: var(--en-spacing-unit);
  --en-spacing-3: calc(var(--en-spacing-unit) * 1.5);
  --en-spacing-4: calc(var(--en-spacing-unit) * 2);
  --en-spacing-5: calc(var(--en-spacing-unit) * 2.5);
  --en-spacing-6: calc(var(--en-spacing-unit) * 3);
  --en-spacing-7: calc(var(--en-spacing-unit) * 3.5);
  --en-spacing-8: calc(var(--en-spacing-unit) * 4);
  --en-spacing-9: calc(var(--en-spacing-unit) * 4.5);
  --en-spacing-10: calc(var(--en-spacing-unit) * 5);
  --en-spacing-11: calc(var(--en-spacing-unit) * 5.5);
  --en-spacing-12: calc(var(--en-spacing-unit) * 6);
  --en-spacing-13: calc(var(--en-spacing-unit) * 6.5);
  --en-spacing-14: calc(var(--en-spacing-unit) * 7);
  --en-spacing-15: calc(var(--en-spacing-unit) * 7.5);
  --en-spacing-16: calc(var(--en-spacing-unit) * 8);
  --en-spacing-17: calc(var(--en-spacing-unit) * 8.5);
  --en-spacing-18: calc(var(--en-spacing-unit) * 9);
  --en-spacing-19: calc(var(--en-spacing-unit) * 9.5);
  --en-spacing-20: calc(var(--en-spacing-unit) * 10);
  --en-spacing-21: calc(var(--en-spacing-unit) * 10.5);
  --en-spacing-22: calc(var(--en-spacing-unit) * 11);
  --en-spacing-23: calc(var(--en-spacing-unit) * 11.5);
  --en-spacing-24: calc(var(--en-spacing-unit) * 12);
  --en-font-size-base: 1rem;
  --en-font-size-small: 0.875rem;
  --en-font-size-middle: 1.125rem;
  --en-font-size-large: 1.5rem;
  --en-font-size-extra-large: 2.25rem;
  --en-font-size-two-extra-large: 3rem;
  --en-radius-small: 0.25rem;
  --en-border-radius-small: var(--en-radius-small);
  --en-radius-middle: 0.5rem;
  --en-border-radius-middle: var(--en-radius-middle);
  --en-radius-card: 0.75rem;
  --en-border-radius-card: var(--en-border-radius-card);
  --en-radius-full: 100vmax;
  --en-border-radius-full: var(--en-radius-full);
  --en-transition-fast: 0.1s;
  --en-transition-medium: 0.2s;
  --en-transition-slow: 0.3s;
}

@media (prefers-color-scheme: light) {
  :root:not(.en-light):not(.en-dark) {
    @include light.light();
  }
}
@media (prefers-color-scheme: dark) {
  :root:not(.en-light):not(.en-dark) {
    @include dark.dark();
  }
}

.en-light {
  @include light.light();
}

.en-dark {
  @include dark.dark();
}
