// 亮度值

// function a(str,...other) {
//     str =str[0];

//     return str.split(';').map(e=> e.trim()).filter(e=> e.length > 5).reduce((v,e)=> {
//         const [tag, item] = e.split(':').map(e=> e.trim());
//         const r = Number('0x' + item.slice(1,3));
//         const g = Number('0x' + item.slice(3,5));
//         const b = Number('0x' + item.slice(5));
//         return v + e + ';' + tag + '-rgb' + ':' + r + ',' + g + ',' + b + ';'
//     },'');
// }

$en-color-brightness-10: #f9f9fb;
$en-color-brightness-10-rgb: 249, 249, 251;
$en-color-brightness-15: #f2f1f1;
$en-color-brightness-15-rgb: 242, 241, 241;
$en-color-brightness-20: #ebeaea;
$en-color-brightness-20-rgb: 235, 234, 234;
$en-color-brightness-25: #e2e2e2;
$en-color-brightness-25-rgb: 226, 226, 226;
$en-color-brightness-30: #cdcdcd;
$en-color-brightness-30-rgb: 205, 205, 205;
$en-color-brightness-40: #b3b3b3;
$en-color-brightness-40-rgb: 179, 179, 179;
$en-color-brightness-50: #9e9e9e;
$en-color-brightness-50-rgb: 158, 158, 158;
$en-color-brightness-60: #858585;
$en-color-brightness-60-rgb: 133, 133, 133;
$en-color-brightness-65: #696969;
$en-color-brightness-65-rgb: 105, 105, 105;
$en-color-brightness-70: #4e4e4e;
$en-color-brightness-70-rgb: 78, 78, 78;
$en-color-brightness-75: #313131;
$en-color-brightness-75-rgb: 49, 49, 49;
$en-color-brightness-80: #343434;
$en-color-brightness-80-rgb: 52, 52, 52;
$en-color-brightness-95: #1b1b1b;
$en-color-brightness-95-rgb: 27, 27, 27;
$en-color-brightness-90: #030303;
$en-color-brightness-90-rgb: 3, 3, 3;
//  纯色
$en-color-blue: #0085f2;
$en-color-blue-rgb: 0, 133, 242;
$en-color-green: #009a46;
$en-color-green-rgb: 0, 154, 70;
$en-color-yellow: #928700;
$en-color-yellow-rgb: 146, 135, 0;
$en-color-red: #d30038;
$en-color-red-rgb: 211, 0, 56;
$en-color-violet: #9b65ff;
$en-color-violet-rgb: 155, 101, 255;
$en-color-pink: #d00058;
$en-color-pink-rgb: 208, 0, 88;
$en-color-beige: #f0f2e6;
$en-color-beige-rgb: 240, 242, 230;
$en-color-black: #000000;
$en-color-black-rgb: 0, 0, 0;
$en-color-white: #ffffff;
$en-color-white-rgb: 255, 255, 255;

$en-color-light-blue-10: #dce2f2;
$en-color-light-blue-10-rgb: 220, 226, 242;
$en-color-light-blue-20: #c1cff1;
$en-color-light-blue-20-rgb: 193, 207, 241;
$en-color-light-blue-30: #8cb4ff;
$en-color-light-blue-30-rgb: 140, 180, 255;
$en-color-light-blue-40: #5e9eff;
$en-color-light-blue-40-rgb: 94, 158, 255;
$en-color-light-blue-50: #0085f2;
$en-color-light-blue-50-rgb: 0, 133, 242;
$en-color-light-blue-60: #0069c2;
$en-color-light-blue-60-rgb: 0, 105, 194;
$en-color-light-blue-70: #004d92;
$en-color-light-blue-70-rgb: 0, 77, 146;
$en-color-light-blue-80: #003465;
$en-color-light-blue-80-rgb: 0, 52, 101;
$en-color-light-blue-90: #001b3a;
$en-color-light-blue-90-rgb: 0, 27, 58;

$en-color-dark-blue-10: $en-color-light-blue-10;
$en-color-dark-blue-10-rgb: $en-color-light-blue-10-rgb;
$en-color-dark-blue-20: $en-color-light-blue-20;
$en-color-dark-blue-20-rgb: $en-color-light-blue-20-rgb;
$en-color-dark-blue-30: $en-color-light-blue-30;
$en-color-dark-blue-30-rgb: $en-color-light-blue-30-rgb;
$en-color-dark-blue-40: $en-color-light-blue-40;
$en-color-dark-blue-40-rgb: $en-color-light-blue-40-rgb;
$en-color-dark-blue-50: $en-color-light-blue-50;
$en-color-dark-blue-50-rgb: $en-color-light-blue-50-rgb;
$en-color-dark-blue-60: $en-color-light-blue-60;
$en-color-dark-blue-60-rgb: $en-color-light-blue-60-rgb;
$en-color-dark-blue-70: $en-color-light-blue-70;
$en-color-dark-blue-70-rgb: $en-color-light-blue-70-rgb;
$en-color-dark-blue-80: $en-color-light-blue-80;
$en-color-dark-blue-80-rgb: $en-color-light-blue-80-rgb;
$en-color-dark-blue-90: $en-color-light-blue-90;
$en-color-dark-blue-90-rgb: $en-color-light-blue-90-rgb;

$en-color-light-green-10: #a9f3ba;
$en-color-light-green-10-rgb: 169, 243, 186;
$en-color-light-green-20: #73e693;
$en-color-light-green-20-rgb: 115, 230, 147;
$en-color-light-green-30: #00d061;
$en-color-light-green-30-rgb: 0, 208, 97;
$en-color-light-green-40: #00b755;
$en-color-light-green-40-rgb: 0, 183, 85;
$en-color-light-green-50: #009a46;
$en-color-light-green-50-rgb: 0, 154, 70;
$en-color-light-green-60: #007936;
$en-color-light-green-60-rgb: 0, 121, 54;
$en-color-light-green-70: #005a26;
$en-color-light-green-70-rgb: 0, 90, 38;
$en-color-light-green-80: #003d18;
$en-color-light-green-80-rgb: 0, 61, 24;
$en-color-light-green-90: #00210a;
$en-color-light-green-90-rgb: 0, 33, 10;

$en-color-dark-green-10: $en-color-light-green-10;
$en-color-dark-green-10-rgb: $en-color-light-green-10-rgb;
$en-color-dark-green-20: $en-color-light-green-20;
$en-color-dark-green-20-rgb: $en-color-light-green-20-rgb;
$en-color-dark-green-30: $en-color-light-green-30;
$en-color-dark-green-30-rgb: $en-color-light-green-30-rgb;
$en-color-dark-green-40: $en-color-light-green-40;
$en-color-dark-green-40-rgb: $en-color-light-green-40-rgb;
$en-color-dark-green-50: $en-color-light-green-50;
$en-color-dark-green-50-rgb: $en-color-light-green-50-rgb;
$en-color-dark-green-60: $en-color-light-green-60;
$en-color-dark-green-60-rgb: $en-color-light-green-60-rgb;
$en-color-dark-green-70: $en-color-light-green-70;
$en-color-dark-green-70-rgb: $en-color-light-green-70-rgb;
$en-color-dark-green-80: $en-color-light-green-80;
$en-color-dark-green-80-rgb: $en-color-light-green-80-rgb;
$en-color-dark-green-90: $en-color-light-green-90;
$en-color-dark-green-90-rgb: $en-color-light-green-90-rgb;

$en-color-light-yellow-10: #f0e498;
$en-color-light-yellow-10-rgb: 240, 228, 152;
$en-color-light-yellow-20: #dfd172;
$en-color-light-yellow-20-rgb: 223, 209, 114;
$en-color-light-yellow-30: #c7b700;
$en-color-light-yellow-30-rgb: 199, 183, 0;
$en-color-light-yellow-40: #afa100;
$en-color-light-yellow-40-rgb: 175, 161, 0;
$en-color-light-yellow-50: #938700;
$en-color-light-yellow-50-rgb: 147, 135, 0;
$en-color-light-yellow-60: #746a00;
$en-color-light-yellow-60-rgb: 116, 106, 0;
$en-color-light-yellow-70: #564e00;
$en-color-light-yellow-70-rgb: 86, 78, 0;
$en-color-light-yellow-80: #3a3500;
$en-color-light-yellow-80-rgb: 58, 53, 0;
$en-color-light-yellow-90: #1f1c00;
$en-color-light-yellow-90-rgb: 31, 28, 0;

$en-color-dark-yellow-10: $en-color-light-yellow-10;
$en-color-dark-yellow-10-rgb: $en-color-light-yellow-10-rgb;
$en-color-dark-yellow-20: $en-color-light-yellow-20;
$en-color-dark-yellow-20-rgb: $en-color-light-yellow-20-rgb;
$en-color-dark-yellow-30: $en-color-light-yellow-30;
$en-color-dark-yellow-30-rgb: $en-color-light-yellow-30-rgb;
$en-color-dark-yellow-40: $en-color-light-yellow-40;
$en-color-dark-yellow-40-rgb: $en-color-light-yellow-40-rgb;
$en-color-dark-yellow-50: $en-color-light-yellow-50;
$en-color-dark-yellow-50-rgb: $en-color-light-yellow-50-rgb;
$en-color-dark-yellow-60: $en-color-light-yellow-60;
$en-color-dark-yellow-60-rgb: $en-color-light-yellow-60-rgb;
$en-color-dark-yellow-70: $en-color-light-yellow-70;
$en-color-dark-yellow-70-rgb: $en-color-light-yellow-70-rgb;
$en-color-dark-yellow-80: $en-color-light-yellow-80;
$en-color-dark-yellow-80-rgb: $en-color-light-yellow-80-rgb;
$en-color-dark-yellow-90: $en-color-light-yellow-90;
$en-color-dark-yellow-90-rgb: $en-color-light-yellow-90-rgb;

$en-color-light-red-10: #ffd9dc;
$en-color-light-red-10-rgb: 255, 217, 220;
$en-color-light-red-20: #ffc0c4;
$en-color-light-red-20-rgb: 255, 192, 196;
$en-color-light-red-30: #ff97a0;
$en-color-light-red-30-rgb: 255, 151, 160;
$en-color-light-red-40: #ff707f;
$en-color-light-red-40-rgb: 255, 112, 127;
$en-color-light-red-50: #ff2a51;
$en-color-light-red-50-rgb: 255, 42, 81;
$en-color-light-red-60: #d30038;
$en-color-light-red-60-rgb: 211, 0, 56;
$en-color-light-red-70: #9e0027;
$en-color-light-red-70-rgb: 158, 0, 39;
$en-color-light-red-80: #6f0019;
$en-color-light-red-80-rgb: 111, 0, 25;
$en-color-light-red-90: #40000a;
$en-color-light-red-90-rgb: 64, 0, 10;

$en-color-dark-red-10: $en-color-light-red-10;
$en-color-dark-red-10-rgb: $en-color-light-red-10-rgb;
$en-color-dark-red-20: $en-color-light-red-20;
$en-color-dark-red-20-rgb: $en-color-light-red-20-rgb;
$en-color-dark-red-30: $en-color-light-red-30;
$en-color-dark-red-30-rgb: $en-color-light-red-30-rgb;
$en-color-dark-red-40: $en-color-light-red-40;
$en-color-dark-red-40-rgb: $en-color-light-red-40-rgb;
$en-color-dark-red-50: $en-color-light-red-50;
$en-color-dark-red-50-rgb: $en-color-light-red-50-rgb;
$en-color-dark-red-60: $en-color-light-red-60;
$en-color-dark-red-60-rgb: $en-color-light-red-60-rgb;
$en-color-dark-red-70: $en-color-light-red-70;
$en-color-dark-red-70-rgb: $en-color-light-red-70-rgb;
$en-color-dark-red-80: $en-color-light-red-80;
$en-color-dark-red-80-rgb: $en-color-light-red-80-rgb;
$en-color-dark-red-90: $en-color-light-red-90;
$en-color-dark-red-90-rgb: $en-color-light-red-90-rgb;

$en-color-light-violet-10: #e6deff;
$en-color-light-violet-10-rgb: 230, 222, 255;
$en-color-light-violet-20: #d4c5ff;
$en-color-light-violet-20-rgb: 212, 197, 255;
$en-color-light-violet-30: #bea5ff;
$en-color-light-violet-30-rgb: 190, 165, 255;
$en-color-light-violet-40: #ae8aff;
$en-color-light-violet-40-rgb: 174, 138, 255;
$en-color-light-violet-50: #9b65ff;
$en-color-light-violet-50-rgb: 155, 101, 255;
$en-color-light-violet-60: #872bff;
$en-color-light-violet-60-rgb: 135, 43, 255;
$en-color-light-violet-70: #6800cf;
$en-color-light-violet-70-rgb: 104, 0, 207;
$en-color-light-violet-80: #480091;
$en-color-light-violet-80-rgb: 72, 0, 145;
$en-color-light-violet-90: #280056;
$en-color-light-violet-90-rgb: 40, 0, 86;

$en-color-dark-violet-10: $en-color-light-violet-10;
$en-color-dark-violet-10-rgb: $en-color-light-violet-10-rgb;
$en-color-dark-violet-20: $en-color-light-violet-20;
$en-color-dark-violet-20-rgb: $en-color-light-violet-20-rgb;
$en-color-dark-violet-30: $en-color-light-violet-30;
$en-color-dark-violet-30-rgb: $en-color-light-violet-30-rgb;
$en-color-dark-violet-40: $en-color-light-violet-40;
$en-color-dark-violet-40-rgb: $en-color-light-violet-40-rgb;
$en-color-dark-violet-50: $en-color-light-violet-50;
$en-color-dark-violet-50-rgb: $en-color-light-violet-50-rgb;
$en-color-dark-violet-60: $en-color-light-violet-60;
$en-color-dark-violet-60-rgb: $en-color-light-violet-60-rgb;
$en-color-dark-violet-70: $en-color-light-violet-70;
$en-color-dark-violet-70-rgb: $en-color-light-violet-70-rgb;
$en-color-dark-violet-80: $en-color-light-violet-80;
$en-color-dark-violet-80-rgb: $en-color-light-violet-80-rgb;
$en-color-dark-violet-90: $en-color-light-violet-90;
$en-color-dark-violet-90-rgb: $en-color-light-violet-90-rgb;

$en-color-light-pink-10: #ffd9df;
$en-color-light-pink-10-rgb: 255, 217, 223;
$en-color-light-pink-20: #ffbbc8;
$en-color-light-pink-20-rgb: 255, 187, 200;
$en-color-light-pink-30: #ff93aa;
$en-color-light-pink-30-rgb: 255, 147, 170;
$en-color-light-pink-40: #ff6d91;
$en-color-light-pink-40-rgb: 255, 109, 145;
$en-color-light-pink-50: #ff1f72;
$en-color-light-pink-50-rgb: 255, 31, 114;
$en-color-light-pink-60: #d00058;
$en-color-light-pink-60-rgb: 208, 0, 88;
$en-color-light-pink-70: #9e0041;
$en-color-light-pink-70-rgb: 158, 0, 65;
$en-color-light-pink-80: #6d002b;
$en-color-light-pink-80-rgb: 109, 0, 43;
$en-color-light-pink-90: #3f0015;
$en-color-light-pink-90-rgb: 63, 0, 21;

$en-color-dark-pink-10: $en-color-light-pink-10;
$en-color-dark-pink-10-rgb: $en-color-light-pink-10-rgb;
$en-color-dark-pink-20: $en-color-light-pink-20;
$en-color-dark-pink-20-rgb: $en-color-light-pink-20-rgb;
$en-color-dark-pink-30: $en-color-light-pink-30;
$en-color-dark-pink-30-rgb: $en-color-light-pink-30-rgb;
$en-color-dark-pink-40: $en-color-light-pink-40;
$en-color-dark-pink-40-rgb: $en-color-light-pink-40-rgb;
$en-color-dark-pink-50: $en-color-light-pink-50;
$en-color-dark-pink-50-rgb: $en-color-light-pink-50-rgb;
$en-color-dark-pink-60: $en-color-light-pink-60;
$en-color-dark-pink-60-rgb: $en-color-light-pink-60-rgb;
$en-color-dark-pink-70: $en-color-light-pink-70;
$en-color-dark-pink-70-rgb: $en-color-light-pink-70-rgb;
$en-color-dark-pink-80: $en-color-light-pink-80;
$en-color-dark-pink-80-rgb: $en-color-light-pink-80-rgb;
$en-color-dark-pink-90: $en-color-light-pink-90;
$en-color-dark-pink-90-rgb: $en-color-light-pink-90-rgb;
