$color-white: #ffffff;
$en-color-neutral-light-70: #f9f9fb;
$en-color-neutral-light-80: #f2f1f1;
$en-color-neutral-light-90: #ebeaea;

$en-color-neutral-10: #e2e2e2;
$en-color-neutral-20: #cdcdcd;
$en-color-neutral-30: #b3b3b3;
$en-color-neutral-40: #9e9e9e;
$en-color-neutral-50: #858585;
$en-color-neutral-60: #696969;
$en-color-neutral-70: #4e4e4e;
$en-color-neutral-75: #313131;
$en-color-neutral-80: #343434;
$en-color-neutral-90: #1b1b1b;

$en-color-light-blue: #0085f2;
$en-color-light-green: #009a46;
$en-color-light-yellow: #928700;
$en-color-light-red: #d30038;
$en-color-light-violet: #9b65ff;
$en-color-light-pink: #d00058;

$en-color-dark-blue: $en-color-light-blue;
$en-color-dark-green: $en-color-light-green;
$en-color-dark-yellow: $en-color-light-yellow;
$en-color-dark-red: $en-color-light-red;
$en-color-dark-violet: $en-color-light-violet;
$en-color-dark-pink: $en-color-light-pink;

$en-color-black: #000;
$en-color-white: #fff;
$en-color-ads: #00d0aa;
$en-color-light-blue-10: #dce2f2;
$en-color-light-blue-20: #c1cff1;
$en-color-light-blue-30: #8cb4ff;
$en-color-light-blue-40: #5e9eff;
$en-color-light-blue-50: #0085f2;
$en-color-light-blue-60: #0069c2;
$en-color-light-blue-70: #004d92;
$en-color-light-blue-80: #003465;
$en-color-light-blue-90: #001b3a;

$en-color-dark-blue-10: $en-color-light-blue-10;
$en-color-dark-blue-20: $en-color-light-blue-20;
$en-color-dark-blue-30: $en-color-light-blue-30;
$en-color-dark-blue-40: $en-color-light-blue-40;
$en-color-dark-blue-50: $en-color-light-blue-50;
$en-color-dark-blue-60: $en-color-light-blue-60;
$en-color-dark-blue-70: $en-color-light-blue-70;
$en-color-dark-blue-80: $en-color-light-blue-80;
$en-color-dark-blue-90: $en-color-light-blue-90;

$en-color-light-green-10: #a9f3ba;
$en-color-light-green-20: #73e693;
$en-color-light-green-30: #00d061;
$en-color-light-green-40: #00b755;
$en-color-light-green-50: #009a46;
$en-color-light-green-60: #007936;
$en-color-light-green-70: #005a26;
$en-color-light-green-80: #003d18;
$en-color-light-green-90: #00210a;

$en-color-dark-green-10: $en-color-light-green-10;
$en-color-dark-green-20: $en-color-light-green-20;
$en-color-dark-green-30: $en-color-light-green-30;
$en-color-dark-green-40: $en-color-light-green-40;
$en-color-dark-green-50: $en-color-light-green-50;
$en-color-dark-green-60: $en-color-light-green-60;
$en-color-dark-green-70: $en-color-light-green-70;
$en-color-dark-green-80: $en-color-light-green-80;
$en-color-dark-green-90: $en-color-light-green-90;

$en-color-light-yellow-10: #f0e498;
$en-color-light-yellow-20: #dfd172;
$en-color-light-yellow-30: #c7b700;
$en-color-light-yellow-40: #afa100;
$en-color-light-yellow-50: #938700;
$en-color-light-yellow-60: #746a00;
$en-color-light-yellow-70: #564e00;
$en-color-light-yellow-80: #3a3500;
$en-color-light-yellow-90: #1f1c00;

$en-color-dark-yellow-10: $en-color-light-yellow-10;
$en-color-dark-yellow-20: $en-color-light-yellow-20;
$en-color-dark-yellow-30: $en-color-light-yellow-30;
$en-color-dark-yellow-40: $en-color-light-yellow-40;
$en-color-dark-yellow-50: $en-color-light-yellow-50;
$en-color-dark-yellow-60: $en-color-light-yellow-60;
$en-color-dark-yellow-70: $en-color-light-yellow-70;
$en-color-dark-yellow-80: $en-color-light-yellow-80;
$en-color-dark-yellow-90: $en-color-light-yellow-90;

$en-color-light-red-10: #ffd9dc;
$en-color-light-red-20: #ffc0c4;
$en-color-light-red-30: #ff97a0;
$en-color-light-red-40: #ff707f;
$en-color-light-red-50: #ff2a51;
$en-color-light-red-60: #d30038;
$en-color-light-red-70: #9e0027;
$en-color-light-red-80: #6f0019;
$en-color-light-red-90: #40000a;

$en-color-dark-red-10: $en-color-light-red-10;
$en-color-dark-red-20: $en-color-light-red-20;
$en-color-dark-red-30: $en-color-light-red-30;
$en-color-dark-red-40: $en-color-light-red-40;
$en-color-dark-red-50: $en-color-light-red-50;
$en-color-dark-red-60: $en-color-light-red-60;
$en-color-dark-red-70: $en-color-light-red-70;
$en-color-dark-red-80: $en-color-light-red-80;
$en-color-dark-red-90: $en-color-light-red-90;

$en-color-light-violet-10: #e6deff;
$en-color-light-violet-20: #d4c5ff;
$en-color-light-violet-30: #bea5ff;
$en-color-light-violet-40: #ae8aff;
$en-color-light-violet-50: #9b65ff;
$en-color-light-violet-60: #872bff;
$en-color-light-violet-70: #6800cf;
$en-color-light-violet-80: #480091;
$en-color-light-violet-90: #280056;

$en-color-dark-violet-10: $en-color-light-violet-10;
$en-color-dark-violet-20: $en-color-light-violet-20;
$en-color-dark-violet-30: $en-color-light-violet-30;
$en-color-dark-violet-40: $en-color-light-violet-40;
$en-color-dark-violet-50: $en-color-light-violet-50;
$en-color-dark-violet-60: $en-color-light-violet-60;
$en-color-dark-violet-70: $en-color-light-violet-70;
$en-color-dark-violet-80: $en-color-light-violet-80;
$en-color-dark-violet-90: $en-color-light-violet-90;

$en-color-light-pink-10: #ffd9df;
$en-color-light-pink-20: #ffbbc8;
$en-color-light-pink-30: #ff93aa;
$en-color-light-pink-40: #ff6d91;
$en-color-light-pink-50: #ff1f72;
$en-color-light-pink-60: #d00058;
$en-color-light-pink-70: #9e0041;
$en-color-light-pink-80: #6d002b;
$en-color-light-pink-90: #3f0015;

$en-color-dark-pink-10: $en-color-light-pink-10;
$en-color-dark-pink-20: $en-color-light-pink-20;
$en-color-dark-pink-30: $en-color-light-pink-30;
$en-color-dark-pink-40: $en-color-light-pink-40;
$en-color-dark-pink-50: $en-color-light-pink-50;
$en-color-dark-pink-60: $en-color-light-pink-60;
$en-color-dark-pink-70: $en-color-light-pink-70;
$en-color-dark-pink-80: $en-color-light-pink-80;
$en-color-dark-pink-90: $en-color-light-pink-90;
$en-light-text-primary: $en-color-neutral-90;
$en-light-text-secondary: $en-color-neutral-70;
$en-light-text-active: #{$en-color-neutral-50};
$en-light-text-inactive: #{$en-color-neutral-40}a6;
$en-light-text-link: $en-color-light-blue-60;
$en-light-text-invert: $en-color-white;
$en-light-text-muted: #6f6f6f;
$en-light-background-primary: $en-color-white;
$en-light-background-secondary: $en-color-neutral-light-70;
$en-light-background-tertiary: #ebeaea;
$en-light-background-toc-active: $en-color-neutral-light-90;
$en-light-border-primary: $en-color-neutral-20;
$en-light-border-secondary: $en-color-neutral-20;
$en-light-border-success: $en-color-light-green-20;
$en-light-button-primary-default: $en-color-neutral-90;
$en-light-button-primary-hover: $en-color-neutral-60;
$en-light-button-primary-active: $en-color-neutral-40;
$en-light-button-primary-inactive: $en-color-neutral-90;
$en-light-button-secondary-default: $en-color-white;
$en-light-button-secondary-hover: $en-color-neutral-20;
$en-light-button-secondary-active: $en-color-neutral-20;
$en-light-button-secondary-inactive: $en-color-neutral-light-70;
$en-light-button-secondary-border-focus: $en-color-light-blue-50;
$en-light-button-secondary-border-red: $en-color-light-red-30;
$en-light-button-secondary-border-red-focus: $en-color-light-red-10;
$en-light-icon-primary: $en-color-neutral-60;
$en-light-icon-secondary: $en-color-neutral-30;
$en-light-icon-information: $en-color-light-blue-50;
$en-light-icon-warning: $en-color-light-red-50;
$en-light-icon-critical: $en-color-light-red-60;
$en-light-icon-success: $en-color-light-green-60;
$en-light-accent-primary: $en-color-light-blue-50;
$en-light-accent-secondary: $en-color-light-blue-50;
$en-light-field-focus-border: $en-color-light-blue-50;
$en-light-focus-01: 0 0 0 3px rgba(0, 144, 237, 0.4);
$en-light-shadow-01: 0 1px 2px rgba(43, 42, 51, 0.05);
$en-light-shadow-02: 0 1px 6px rgba(43, 42, 51, 0.1);

$en-light-code-token-tag: $en-color-light-blue-60;
$en-light-code-token-punctuation: $en-color-neutral-50;
$en-light-code-token-attribute-name: $en-color-light-red-60;
$en-light-code-token-attribute-value: $en-color-light-green-60;
$en-light-code-token-comment: $en-color-neutral-50;
$en-light-code-token-default: $en-color-neutral-90;
$en-light-code-token-selector: $en-color-light-violet-60;
$en-light-code-background-inline: $en-color-neutral-light-80;
$en-light-code-background-block: $en-color-neutral-light-80;

$en-dark-text-primary: $en-color-white;
$en-dark-text-secondary: $en-color-neutral-20;
$en-dark-text-active: #{$en-color-neutral-50};
$en-dark-text-inactive: #{$en-color-neutral-20}a6;
$en-dark-text-link: $en-color-dark-blue-30;
$en-dark-text-invert: $en-color-neutral-90;
$en-dark-text-muted: #858585;
$en-dark-background-primary: $en-color-neutral-90;
$en-dark-background-secondary: $en-color-neutral-75;
$en-dark-background-tertiary: #858585;
$en-dark-background-toc-active: $en-color-neutral-80;
$en-dark-border-primary: $en-color-neutral-50;
$en-dark-border-secondary: $en-color-neutral-60;
$en-dark-border-success: $en-color-dark-green-20;
$en-dark-button-primary-default: $en-color-white;
$en-dark-button-primary-hover: $en-color-neutral-20;
$en-dark-button-primary-active: $en-color-neutral-40;
$en-dark-button-primary-inactive: $en-color-white;
$en-dark-button-secondary-default: $en-color-neutral-70;
$en-dark-button-secondary-hover: $en-color-neutral-50;
$en-dark-button-secondary-active: $en-color-neutral-40;
$en-dark-button-secondary-inactive: $en-color-neutral-70;
$en-dark-shadow-01: 0 1px 2px rgba(251, 251, 254, 0.2);
$en-dark-shadow-02: 0 1px 6px rgba(251, 251, 254, 0.2);
$en-dark-icon-primary: $en-color-white;
$en-dark-icon-secondary: $en-color-neutral-30;
$en-dark-icon-information: $en-color-dark-blue-40;
$en-dark-icon-warning: $en-color-dark-yellow-40;
$en-dark-icon-critical: $en-color-dark-red-40;
$en-dark-icon-success: $en-color-dark-green-40;
$en-dark-accent-primary: $en-color-dark-blue-40;
$en-dark-accent-secondary: $en-color-dark-blue-40;
$en-dark-field-focus-border: $en-color-white;
$en-dark-focus-01: 0 0 0 3px rgba(251, 251, 254, 0.5);

$en-dark-code-token-tag: $en-color-dark-blue-20;
$en-dark-code-token-punctuation: $en-color-neutral-30;
$en-dark-code-token-attribute-name: $en-color-dark-red-30;
$en-dark-code-token-attribute-value: $en-color-dark-green-30;
$en-dark-code-token-comment: $en-color-neutral-30;
$en-dark-code-token-default: $en-color-white;
$en-dark-code-token-selector: $en-color-dark-violet-30;
$en-dark-code-background-inline: $en-color-neutral-80;
$en-dark-code-background-block: $en-color-neutral-80;

// screen is to small for sticky placement
$screen-height-place-limit: 44rem;
