$en-color-neutral-light-70: #f9f9fb;
$en-color-neutral-light-80: #f2f1f1;
$en-color-neutral-light-90: #ebeaea;

$en-color-neutral-10: #e2e2e2;
$en-color-neutral-20: #cdcdcd;
$en-color-neutral-30: #b3b3b3;
$en-color-neutral-40: #9e9e9e;
$en-color-neutral-50: #858585;
$en-color-neutral-60: #696969;
$en-color-neutral-70: #4e4e4e;
$en-color-neutral-75: #313131;
$en-color-neutral-80: #343434;
$en-color-neutral-90: #1b1b1b;

$en-color-light-theme-blue: #0085f2;
$en-color-light-theme-green: #009a46;
$en-color-light-theme-yellow: #928700;
$en-color-light-theme-red: #d30038;
$en-color-light-theme-violet: #9b65ff;
$en-color-light-theme-pink: #d00058;

$en-color-dark-theme-blue: $en-color-light-theme-blue;
$en-color-dark-theme-green: $en-color-light-theme-green;
$en-color-dark-theme-yellow: $en-color-light-theme-yellow;
$en-color-dark-theme-red: $en-color-light-theme-red;
$en-color-dark-theme-violet: $en-color-light-theme-violet;
$en-color-dark-theme-pink: $en-color-light-theme-pink;

$en-color-light-theme-blue-10: #dce2f2;
$en-color-light-theme-blue-20: #c1cff1;
$en-color-light-theme-blue-30: #8cb4ff;
$en-color-light-theme-blue-40: #5e9eff;
$en-color-light-theme-blue-50: #0085f2;
$en-color-light-theme-blue-60: #0069c2;
$en-color-light-theme-blue-70: #004d92;
$en-color-light-theme-blue-80: #003465;
$en-color-light-theme-blue-90: #001b3a;

$en-color-dark-theme-blue-10: $en-color-light-theme-blue-10;
$en-color-dark-theme-blue-20: $en-color-light-theme-blue-20;
$en-color-dark-theme-blue-30: $en-color-light-theme-blue-30;
$en-color-dark-theme-blue-40: $en-color-light-theme-blue-40;
$en-color-dark-theme-blue-50: $en-color-light-theme-blue-50;
$en-color-dark-theme-blue-60: $en-color-light-theme-blue-60;
$en-color-dark-theme-blue-70: $en-color-light-theme-blue-70;
$en-color-dark-theme-blue-80: $en-color-light-theme-blue-80;
$en-color-dark-theme-blue-90: $en-color-light-theme-blue-90;

$en-color-light-theme-green-10: #a9f3ba;
$en-color-light-theme-green-20: #73e693;
$en-color-light-theme-green-30: #00d061;
$en-color-light-theme-green-40: #00b755;
$en-color-light-theme-green-50: #009a46;
$en-color-light-theme-green-60: #007936;
$en-color-light-theme-green-70: #005a26;
$en-color-light-theme-green-80: #003d18;
$en-color-light-theme-green-90: #00210a;

$en-color-dark-theme-green-10: $en-color-light-theme-green-10;
$en-color-dark-theme-green-20: $en-color-light-theme-green-20;
$en-color-dark-theme-green-30: $en-color-light-theme-green-30;
$en-color-dark-theme-green-40: $en-color-light-theme-green-40;
$en-color-dark-theme-green-50: $en-color-light-theme-green-50;
$en-color-dark-theme-green-60: $en-color-light-theme-green-60;
$en-color-dark-theme-green-70: $en-color-light-theme-green-70;
$en-color-dark-theme-green-80: $en-color-light-theme-green-80;
$en-color-dark-theme-green-90: $en-color-light-theme-green-90;

$en-color-light-theme-yellow-10: #f0e498;
$en-color-light-theme-yellow-20: #dfd172;
$en-color-light-theme-yellow-30: #c7b700;
$en-color-light-theme-yellow-40: #afa100;
$en-color-light-theme-yellow-50: #938700;
$en-color-light-theme-yellow-60: #746a00;
$en-color-light-theme-yellow-70: #564e00;
$en-color-light-theme-yellow-80: #3a3500;
$en-color-light-theme-yellow-90: #1f1c00;

$en-color-dark-theme-yellow-10: $en-color-light-theme-yellow-10;
$en-color-dark-theme-yellow-20: $en-color-light-theme-yellow-20;
$en-color-dark-theme-yellow-30: $en-color-light-theme-yellow-30;
$en-color-dark-theme-yellow-40: $en-color-light-theme-yellow-40;
$en-color-dark-theme-yellow-50: $en-color-light-theme-yellow-50;
$en-color-dark-theme-yellow-60: $en-color-light-theme-yellow-60;
$en-color-dark-theme-yellow-70: $en-color-light-theme-yellow-70;
$en-color-dark-theme-yellow-80: $en-color-light-theme-yellow-80;
$en-color-dark-theme-yellow-90: $en-color-light-theme-yellow-90;

$en-color-light-theme-red-10: #ffd9dc;
$en-color-light-theme-red-20: #ffc0c4;
$en-color-light-theme-red-30: #ff97a0;
$en-color-light-theme-red-40: #ff707f;
$en-color-light-theme-red-50: #ff2a51;
$en-color-light-theme-red-60: #d30038;
$en-color-light-theme-red-70: #9e0027;
$en-color-light-theme-red-80: #6f0019;
$en-color-light-theme-red-90: #40000a;

$en-color-dark-theme-red-10: $en-color-light-theme-red-10;
$en-color-dark-theme-red-20: $en-color-light-theme-red-20;
$en-color-dark-theme-red-30: $en-color-light-theme-red-30;
$en-color-dark-theme-red-40: $en-color-light-theme-red-40;
$en-color-dark-theme-red-50: $en-color-light-theme-red-50;
$en-color-dark-theme-red-60: $en-color-light-theme-red-60;
$en-color-dark-theme-red-70: $en-color-light-theme-red-70;
$en-color-dark-theme-red-80: $en-color-light-theme-red-80;
$en-color-dark-theme-red-90: $en-color-light-theme-red-90;

$en-color-light-theme-violet-10: #e6deff;
$en-color-light-theme-violet-20: #d4c5ff;
$en-color-light-theme-violet-30: #bea5ff;
$en-color-light-theme-violet-40: #ae8aff;
$en-color-light-theme-violet-50: #9b65ff;
$en-color-light-theme-violet-60: #872bff;
$en-color-light-theme-violet-70: #6800cf;
$en-color-light-theme-violet-80: #480091;
$en-color-light-theme-violet-90: #280056;

$en-color-dark-theme-violet-10: $en-color-light-theme-violet-10;
$en-color-dark-theme-violet-20: $en-color-light-theme-violet-20;
$en-color-dark-theme-violet-30: $en-color-light-theme-violet-30;
$en-color-dark-theme-violet-40: $en-color-light-theme-violet-40;
$en-color-dark-theme-violet-50: $en-color-light-theme-violet-50;
$en-color-dark-theme-violet-60: $en-color-light-theme-violet-60;
$en-color-dark-theme-violet-70: $en-color-light-theme-violet-70;
$en-color-dark-theme-violet-80: $en-color-light-theme-violet-80;
$en-color-dark-theme-violet-90: $en-color-light-theme-violet-90;

$en-color-light-theme-pink-10: #ffd9df;
$en-color-light-theme-pink-20: #ffbbc8;
$en-color-light-theme-pink-30: #ff93aa;
$en-color-light-theme-pink-40: #ff6d91;
$en-color-light-theme-pink-50: #ff1f72;
$en-color-light-theme-pink-60: #d00058;
$en-color-light-theme-pink-70: #9e0041;
$en-color-light-theme-pink-80: #6d002b;
$en-color-light-theme-pink-90: #3f0015;

$en-color-dark-theme-pink-10: $en-color-light-theme-pink-10;
$en-color-dark-theme-pink-20: $en-color-light-theme-pink-20;
$en-color-dark-theme-pink-30: $en-color-light-theme-pink-30;
$en-color-dark-theme-pink-40: $en-color-light-theme-pink-40;
$en-color-dark-theme-pink-50: $en-color-light-theme-pink-50;
$en-color-dark-theme-pink-60: $en-color-light-theme-pink-60;
$en-color-dark-theme-pink-70: $en-color-light-theme-pink-70;
$en-color-dark-theme-pink-80: $en-color-light-theme-pink-80;
$en-color-dark-theme-pink-90: $en-color-light-theme-pink-90;

$en-color-black: #000;
$en-color-white: #fff;
$en-color-ads: #00d0aa;

$en-theme-light-text-primary: $en-color-neutral-90;
$en-theme-light-text-secondary: $en-color-neutral-70;
$en-theme-light-text-active: #{$en-color-neutral-50};
$en-theme-light-text-inactive: #{$en-color-neutral-40}a6;
$en-theme-light-text-link: $en-color-light-theme-blue-60;
$en-theme-light-text-invert: $en-color-white;
$en-theme-light-text-muted: #6f6f6f;
$en-theme-light-background-primary: $en-color-white;
$en-theme-light-background-secondary: $en-color-neutral-light-70;
$en-theme-light-background-tertiary: #ebeaea;
$en-theme-light-background-toc-active: $en-color-neutral-light-90;
$en-theme-light-border-primary: $en-color-neutral-20;
$en-theme-light-border-secondary: $en-color-neutral-20;
$en-theme-light-border-success: $en-color-light-theme-green-20;
$en-theme-light-button-primary-default: $en-color-neutral-90;
$en-theme-light-button-primary-hover: $en-color-neutral-60;
$en-theme-light-button-primary-active: $en-color-neutral-40;
$en-theme-light-button-primary-inactive: $en-color-neutral-90;
$en-theme-light-button-secondary-default: $en-color-white;
$en-theme-light-button-secondary-hover: $en-color-neutral-20;
$en-theme-light-button-secondary-active: $en-color-neutral-20;
$en-theme-light-button-secondary-inactive: $en-color-neutral-light-70;
$en-theme-light-button-secondary-border-focus: $en-color-light-theme-blue-50;
$en-theme-light-button-secondary-border-red: $en-color-light-theme-red-30;
$en-theme-light-button-secondary-border-red-focus: $en-color-light-theme-red-10;
$en-theme-light-icon-primary: $en-color-neutral-60;
$en-theme-light-icon-secondary: $en-color-neutral-30;
$en-theme-light-icon-information: $en-color-light-theme-blue-50;
$en-theme-light-icon-warning: $en-color-light-theme-red-50;
$en-theme-light-icon-critical: $en-color-light-theme-red-60;
$en-theme-light-icon-success: $en-color-light-theme-green-60;
$en-theme-light-accent-primary: $en-color-light-theme-blue-50;
$en-theme-light-accent-secondary: $en-color-light-theme-blue-50;
$en-theme-light-field-focus-border: $en-color-light-theme-blue-50;
$en-theme-light-focus-01: 0 0 0 3px rgba(0, 144, 237, 0.4);
$en-theme-light-shadow-01: 0 1px 2px rgba(43, 42, 51, 0.05);
$en-theme-light-shadow-02: 0 1px 6px rgba(43, 42, 51, 0.1);

$en-theme-light-code-token-tag: $en-color-light-theme-blue-60;
$en-theme-light-code-token-punctuation: $en-color-neutral-50;
$en-theme-light-code-token-attribute-name: $en-color-light-theme-red-60;
$en-theme-light-code-token-attribute-value: $en-color-light-theme-green-60;
$en-theme-light-code-token-comment: $en-color-neutral-50;
$en-theme-light-code-token-default: $en-color-neutral-90;
$en-theme-light-code-token-selector: $en-color-light-theme-violet-60;
$en-theme-light-code-background-inline: $en-color-neutral-light-80;
$en-theme-light-code-background-block: $en-color-neutral-light-80;

$en-theme-dark-text-primary: $en-color-white;
$en-theme-dark-text-secondary: $en-color-neutral-20;
$en-theme-dark-text-active: #{$en-color-neutral-50};
$en-theme-dark-text-inactive: #{$en-color-neutral-20}a6;
$en-theme-dark-text-link: $en-color-dark-theme-blue-30;
$en-theme-dark-text-invert: $en-color-neutral-90;
$en-theme-dark-text-muted: #858585;
$en-theme-dark-background-primary: $en-color-neutral-90;
$en-theme-dark-background-secondary: $en-color-neutral-75;
$en-theme-dark-background-tertiary: #858585;
$en-theme-dark-background-toc-active: $en-color-neutral-80;
$en-theme-dark-border-primary: $en-color-neutral-50;
$en-theme-dark-border-secondary: $en-color-neutral-60;
$en-theme-dark-border-success: $en-color-dark-theme-green-20;
$en-theme-dark-button-primary-default: $en-color-white;
$en-theme-dark-button-primary-hover: $en-color-neutral-20;
$en-theme-dark-button-primary-active: $en-color-neutral-40;
$en-theme-dark-button-primary-inactive: $en-color-white;
$en-theme-dark-button-secondary-default: $en-color-neutral-70;
$en-theme-dark-button-secondary-hover: $en-color-neutral-50;
$en-theme-dark-button-secondary-active: $en-color-neutral-40;
$en-theme-dark-button-secondary-inactive: $en-color-neutral-70;
$en-theme-dark-shadow-01: 0 1px 2px rgba(251, 251, 254, 0.2);
$en-theme-dark-shadow-02: 0 1px 6px rgba(251, 251, 254, 0.2);
$en-theme-dark-icon-primary: $en-color-white;
$en-theme-dark-icon-secondary: $en-color-neutral-30;
$en-theme-dark-icon-information: $en-color-dark-theme-blue-40;
$en-theme-dark-icon-warning: $en-color-dark-theme-yellow-40;
$en-theme-dark-icon-critical: $en-color-dark-theme-red-40;
$en-theme-dark-icon-success: $en-color-dark-theme-green-40;
$en-theme-dark-accent-primary: $en-color-dark-theme-blue-40;
$en-theme-dark-accent-secondary: $en-color-dark-theme-blue-40;
$en-theme-dark-field-focus-border: $en-color-white;
$en-theme-dark-focus-01: 0 0 0 3px rgba(251, 251, 254, 0.5);

$en-theme-dark-code-token-tag: $en-color-dark-theme-blue-20;
$en-theme-dark-code-token-punctuation: $en-color-neutral-30;
$en-theme-dark-code-token-attribute-name: $en-color-dark-theme-red-30;
$en-theme-dark-code-token-attribute-value: $en-color-dark-theme-green-30;
$en-theme-dark-code-token-comment: $en-color-neutral-30;
$en-theme-dark-code-token-default: $en-color-white;
$en-theme-dark-code-token-selector: $en-color-dark-theme-violet-30;
$en-theme-dark-code-background-inline: $en-color-neutral-80;
$en-theme-dark-code-background-block: $en-color-neutral-80;

// screen is to small for sticky placement
$screen-height-place-limit: 44rem;
